.productsListWrapper {
    height: 32vh;
}

.productItemsWrapper {
    height: 100%;
    display: flex;
    gap: 10px;
    overflow-x: auto;
    scrollbar-width: none;
}

.navigationLeftArrow,
.navigationRightArrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: 40px;
    width: 40px;
}

.navigationLeftArrow {
    left: 0;
    margin-left: 1rem;
}

.navigationRightArrow {
    right: 0;
    margin-right: 1rem;
}
