@import "../../../styles/variables.css";

.productWrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
    flex-basis: calc(50vw - 10px);
    height: 30vh;
    color: var(--font-primary-color);
}

.productImage {
}

.productTitle {
    font-size: 16px;
    margin-bottom: 0;
}

.productPrice {
    display: flex;
    align-items: center;
}
