.logInWrapper {
    padding: 2rem;
}

.logInHeader {
    text-align: center;
}

.logInAndRegisterBar {
    display: flex;
    justify-content: space-between;
    margin-top: 1.25rem;
}

.logInAndRegisterBar > button {
    flex-basis: 30%;
}

.logInAndRegisterBar > button > a {
    color: #fff;
    text-decoration: none;
}
