:root {
    --color-primary: #41aa7f;
    --color-primary-dark: #389970;
    --color-secondary: #606d67;
    --font-primary-color: #e7e7e7;
    --badge-color-primary: #22aa22;
    --color-error-primary: #d46d6d;
}
