@import "../../../../../styles/variables.css";

.sidebarWrapper {
    height: calc(100vh - 56px - 5vh - 1px);
    width: 100%;
    background-color: var(--color-primary);
    position: fixed;
    transform: translateX(100%);
    z-index: 5;
}

.activateSidebar {
    transform: translateX(0);
}

.sidebarListItem {
    border-bottom: 1px solid var(--color-secondary);
    padding-left: 12px;
    & > a {
        text-decoration: none;
        & > span {
            display: block;
            color: var(--font-primary-color);
            font-size: 16px;
            margin: 0;
            padding: 8px 0;
            font-weight: 300;
        }
    }
}

.sidebarListItem:first-child {
    border-top: 1px solid var(--color-secondary);
}

.logoutButton {
    background-color: var(--color-primary-dark);
    border: none;
    width: 100%;
}
