.flashWrapper {
    position: fixed;
    left: 50%;
    transform: translate(-50%, -100%);
    z-index: 20;
    width: 90%;
    display: flex;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 8px;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem;
}

.flashIcon {
    width: 20px;
    height: 20px;
}

.flashMessage {
    display: inline-block;
    margin-left: 0.5rem;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    color: black;
}

.success {
    border: 3px solid #50cf29;
}

.error {
    border: 3px solid #cf2929;
}

.warning {
    border: 3px solid #d3c618;
}

.closeFlashwrapper {
    justify-self: end;
}

.closeFlashwrapper:hover {
    cursor: pointer;
}

@keyframes activateFlash {
}
